.navigation {

    @include mobile {
        padding: 40px 24px;
        position: absolute;
        top: -1000%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        opacity: 0;
        transition: all .3s ease;
        background: var(--color-light);

        &.navigation--active {
            top: 100%;
            opacity: 1;
        }
    }
}