body {
    font-family: 'TrajanPro', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    background-color: $dark;
    color: $white;

    &.lock {
        height: 800px;
        overflow: hidden;
    }

}

.main {
    width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 90%;
    padding: 0 20px;
    margin: 0 auto;

}

svg {
    width: 100%;

    & g path {
        transition: all .3s ease;
        cursor: pointer;

        &:hover {
            fill: #e0e0e0;
        }
    }
}