$dark: #0F0E13;
$white: #FFF;
$yellow: #F8CC58;
$red: #F66350;

$transparent: transparent;


$desktop-width: 1150px;
$laptop-width: 1000px;
$ipad-width: 800px;
$tablet-width: 768px;
$mobile-width: 560px;
$phone-width: 430px;
