/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, :before, :after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.woff"), url("../fonts/TrajanPro-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Bold.woff"), url("../fonts/TrajanPro-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Regular.woff"), url("../fonts/TTNorms-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTNorms";
  src: url("../fonts/TTNorms-Bold.woff"), url("../fonts/TTNorms-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "TrajanPro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  background-color: #0F0E13;
  color: #FFF;
}
body.lock {
  height: 800px;
  overflow: hidden;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.container {
  max-width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}

svg {
  width: 100%;
}
svg g path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
svg g path:hover {
  fill: #e0e0e0;
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
}
.header.fixed {
  position: fixed;
  background-color: #0F0E13;
}
.header.fixed .header__wrapper {
  padding: 25px 0;
}
.header.fixed .navigation__item {
  padding: 10px;
}
.header.fixed .navigation__link::before {
  height: 22px;
}
.header.fixed .navigation__link::after {
  bottom: calc(100% + 22px);
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}
@media (max-width: 1000px) {
  .header__wrapper {
    padding: 25px 0;
  }
}
@media (max-width: 430px) {
  .header__wrapper {
    padding: 20px 0;
  }
}
.header__logo {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__logo:hover {
  scale: 1.05;
}
.header__logo img {
  width: 147px;
  height: auto;
}
@media (max-width: 560px) {
  .header__logo img {
    width: 118px;
  }
}
@media (max-width: 430px) {
  .header__logo img {
    width: 89px;
  }
}
.header__burger {
  width: 18px;
  height: 18px;
  margin-left: 18px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  cursor: pointer;
  z-index: 2;
}
@media (max-width: 1000px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__burger span {
  width: 100%;
  height: 2px;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before, .header__burger span::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  background-color: #F8CC58;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__burger span::before {
  top: 0;
}
.header__burger span::after {
  bottom: 0;
}
.header__burger.active span {
  width: 0;
}
.header__burger.active span::before {
  rotate: 45deg;
  top: 8px;
}
.header__burger.active span::after {
  rotate: -45deg;
  bottom: 8px;
}

.footer {
  padding-top: 103px;
  position: relative;
}
@media (max-width: 560px) {
  .footer {
    padding-top: 50px;
  }
}
.footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(../images/footer-bg.png) no-repeat center;
  mix-blend-mode: multiply;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 800px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__content {
  max-width: 210px;
  margin-right: 173px;
}
@media (max-width: 1000px) {
  .footer__content {
    margin-right: 60px;
  }
}
.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 430px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__logo:hover {
  scale: 1.1;
}
.footer__logo img {
  max-height: 36px;
}
@media (max-width: 560px) {
  .footer__logo img {
    max-height: 21px;
  }
}
.footer__text {
  color: rgba(255, 255, 255, 0.6);
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TTNorms";
  font-size: 12px;
}
@media (max-width: 560px) {
  .footer__text {
    font-size: 10px;
    max-width: 140px;
  }
}
@media (max-width: 800px) {
  .footer__nav {
    margin-top: 16px;
  }
}
@media (max-width: 560px) {
  .footer__nav {
    width: 100%;
  }
}
.footer__nav--title {
  color: #F8CC58;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 430px) {
  .footer__nav--title {
    font-size: 14px;
  }
}
.footer__list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px 70px;
}
@media (max-width: 1000px) {
  .footer__list {
    grid-gap: 30px 50px;
  }
}
@media (max-width: 560px) {
  .footer__list {
    margin-top: 15px;
    grid-gap: 10px;
  }
}
.footer__list--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list--item .navigation__link::before, .footer__list--item .navigation__link::after {
  display: none;
}
@media (max-width: 430px) {
  .footer__list--item .navigation__link {
    font-size: 12px;
  }
}
.footer__contact {
  margin-left: auto;
}
@media (max-width: 800px) {
  .footer__contact {
    position: absolute;
    right: 20px;
    top: 55px;
  }
}
.footer .mail {
  margin: 24px 0 0 0;
  font-size: 14px;
}
@media (max-width: 430px) {
  .footer .mail {
    margin-top: 10px;
  }
}
@media (max-width: 560px) {
  .footer .call {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .footer .call {
    font-size: 10px;
  }
}
@media (max-width: 430px) {
  .footer .call svg {
    width: 12px;
  }
}
.footer .copy {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 92px;
}
@media (max-width: 430px) {
  .footer .copy {
    padding: 20px 0;
  }
}
.footer .copy__text {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: "TTNorms";
  font-size: 13px;
}
@media (max-width: 430px) {
  .footer .copy__text {
    font-size: 10px;
  }
}
@media (max-width: 560px) {
  .footer .copy {
    margin-top: 15px;
  }
}/*# sourceMappingURL=style.css.map */